<%= render 'tweets/new', tweet: @tweet %> <br />

<% @tweets.each do |tweet| %>
 <%= link_to tweet_path(tweet.id) do %>
  <%= image_tag @user.get_profile_image, size:'80x80' %>
  <%= tweet.user.name %>
  <%= time_ago_in_words(tweet.created_at) %>
  <%= tweet.body %>
  <%= image_tag tweet.get_image, size:'440x280' %>
 <% end %>
 <p>いいね</p>
 <p>リツイート</p>
<% end %>

